/.vs/theatrel/DesignTimeBuild/
/.vs/theatrel/v16
/theatrel.Console/bin/
/theatrel.Console/obj/
/theatrel.Interfaces/obj/
/theatrel.Interfaces/bin/
/theatrel.Lib/bin/
/theatrel.Lib/obj/
/theatrel.Lib.Tests/bin/
/theatrel.Lib.Tests/obj/
/theatrel.Worker/bin/
/theatrel.Worker/obj/
/theatrel.TLBot.Interfaces/obj/
/theatrel.TLBot.Interfaces/bin/
/theatrel.TLBot.Interfaces/obj
/theatrel.TLBot/bin/
/theatrel.TLBot/obj/
/theatrel.TLBot.Tests/bin/
/theatrel.TLBot.Tests/obj/
/theatrel.Tests/obj
/.vs/theatrel/config
/theatrel.Data/bin
/theatrel.Data/obj
/*.user
/theatrel.DataUpdater/bin
/theatrel.DataUpdater/obj
/theatrel.DataUpdater.Tests/bin
/theatrel.DataUpdater.Tests/obj
/theatrel.Common/bin/
/theatrel.Common/obj/
/theatrel.Subscriptions/bin/
/theatrel.Subscriptions/obj/

/theatrel.Subscriptions.Tests/bin
/theatrel.Subscriptions.Tests/obj
/theatrel.Core/bin
/theatrel.Core/obj
/theatrel.DataAccess.Structures/bin
/theatrel.DataAccess.Structures/obj
/theatrel.DataAccess.Tests/bin
/theatrel.DataAccess.Tests/obj
/theatrel.ConsoleTest/bin
/theatrel.ConsoleTest/obj
/theatrel.Storage/obj
/theatrel.Storage/bin
/theatrel.ConsoleTest/Properties/launchSettings.json
/theatrel.Worker/Properties/PublishProfiles/FolderProfile.pubxml
/theatrel.Worker/Properties/PublishProfiles/*.user
/Backup
/theatrel.Data/Properties/launchSettings.json
/.vs/Theatrel/v17
/.vs/Theatrel/FileContentIndex
/.vs/ProjectEvaluation
.vs
/theatrel.Filters.Interfaces/bin
/theatrel.Filters.Interfaces/obj
/theatrel.Filters/bin
/theatrel.Filters/obj
/theatrel.VKIntegration/obj
/theatrel.VKIntegration/bin
/theatrel.Strorage/obj/Debug/netcoreapp3.1
/theatrel.Strorage/obj/Release/netcoreapp3.1
