/.vs/theatrel/DesignTimeBuild/
/.vs/theatrel/v16
/theatrel.Console/bin/
/theatrel.Console/obj/
/theatrel.Interfaces/obj/
/theatrel.Interfaces/bin/
/theatrel.Lib/bin/
/theatrel.Lib/obj/
/theatrel.Lib.Tests/bin/
/theatrel.Lib.Tests/obj/
/theatrel.Worker/bin/
/theatrel.Worker/obj/
/theatrel.TLBot.Interfaces/obj/
/theatrel.TLBot.Interfaces/bin/
/theatrel.TLBot.Interfaces/obj
/theatrel.TLBot/bin/
/theatrel.TLBot/obj/
/theatrel.TLBot.Tests/bin/
/theatrel.TLBot.Tests/obj/
/theatrel.Tests/obj
/.vs/theatrel/config
/theatrel.Data/bin
/theatrel.Data/obj
/*.user
/theatrel.DataUpdater/bin
/theatrel.DataUpdater/obj
/theatrel.DataUpdater.Tests/bin
/theatrel.DataUpdater.Tests/obj
/theatrel.Common/bin/
/theatrel.Common/obj/
/theatrel.Subscriptions/bin/
/theatrel.Subscriptions/obj/

